#clockcontainer {
    position: relative;
   height: 40vw;
   width: 40vw;
   background: url(clock.png) no-repeat;
   background-size: 100%;
   margin: auto;
}
#hour, #minute, #second {
    background: black;
    border-radius: 10px;
    position: absolute;
    transform-origin: bottom;
}
#hour {
    width: 1.2%;
    height: 25%;
    margin-top:25%;
    margin-left: 49.6%;
}
#minute {
    width: 0.7%;
    height: 34%;
    margin-top: 16%;
    margin-left: 50%; 

}
#second {
    width: 0.4%;
    height:35%;
    margin-top:14.9%;
    margin-left: 50%;   
    background-color: red;
}
